*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('./images/backblack.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

header{
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
    position :sticky;
    top: 0;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

nav ul li a{  
    color: white;
    font-weight: bold;
    padding: 1em;
}

a{
    text-decoration: none;   
}

section{
    min-height: 100vh;
    padding-top: 15%;
    text-align: center;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
}

#accueil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.masuperImage{
    border-radius: 50%;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 1em; 
    margin: auto;
    padding: 5%;
}